.cproject
.externalToolBuilders
.project
.settings
notes
wordsquare
Debug

# autotools
/c/autom4te.cache
/c/aclocal.m4
/c/compile
/c/configure
/c/depcomp
/c/install-sh
/c/missing
/c/stamp-h1
config.h
config.h.in
config.log
config.status
makefile
makefile.in
/c/src/.deps
/c/src/*.o
/c/src/.libs
ar-lib
config.guess
config.h.in~
config.sub
libtool
ltmain.sh
/c/m4
/c/src/*.la
/c/src/*.lo

#npm
/js/node_modules

